header {
    text-align: center;
    background: url("https://rawgit.com/helenanderson26/blog-theme/master/img/Globe.jpg");
    color: #232323;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    font-family: "Raleway";
    font-size: 40px;
    font-weight: bold;
  }

  a {
    color: white;
    font-size: 30px;
  }

  ul {
    padding: 10px;
    background: #bdbdbd;
    font-family: "Raleway";
    font-weight: bold;
  }

  li {
    display: inline;
    padding: 0 50px 0 10px;
  }

  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    font-family: "Helvetica";
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 36px;
      font-family: "Helvetica";
      padding: 5px;
    }
    li {
      font-size: 36px;
      padding: 5px;
      display: block;
    }
  }
